@model LoginPostModel
@{
    Layout = null;
    ViewData["Title"] = "Login page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Access.css" asp-append-version="true">
</head>
<body>
    <div class="wrapper">
        <div class="form-wrapper sign-in">

            <form asp-controller="access" asp-action="Login" method="post" enctype="multipart/form-data">

                <h2>Login</h2>
                <div class="input-group">
                    <input asp-for="Email" type="text" placeholder="someone@gmail.com">
                    <label asp-for="Email">Email</label>
                </div>
                <div class="input-group">
                    <input asp-for="Password" type="text" required>
                    <label asp-for="Password">Password</label>
                </div>
                <div class="remember">
                    <label><input type="checkbox">Rememeber me</label>
                </div>
                <button type="submit">Login</button>
                <div class="signUp-link">
                    <p>Don't have an account? <a href="/Access/Register" class="signUpBtn-link">Register now!</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}

